/*==================== GOOGLE FONTS ====================*/
/* @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300;400&family=Poppins:wght@400;500;600&family=Ubuntu:wght@400;500;700&display=swap");
/*==================== VARIABLES CSS ====================*/
:root {
  --header-height: 3rem;
  /*========== Colors ==========*/
  --hue-color: 350;
  --first-color: #6b0b0b;
  --first-color-second: #6b0b0b;
  --first-color-alt: #FF007F;
  --first-color-lighter: #FF007F;
  --title-color: #000000;
  --text-color: #000000;
  --text-color-light: #5D1E20;
  --input-color: #FCF4A3;
  --body-color: #FADCD9;
  --container-color: #f0e9e5;
  --container-text-color: #000000;

  --scroll-bar-color: hsl(var(--hue-color), 50%, 100%);
  --scroll-thumb-color: hsl(var(--hue-color), 100%, 90%);
  /*========== Font and typography ==========*/
  --body-font: "Ubuntu", sans-serif;

  --big-font-size: 2rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1.125rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.75rem;

  /*========== Font weight ==========*/
  --font-medium: 500;
  --font-semi-bold: 700;

  /*========== Margenes Bottom ==========*/
  --mb-0-25: 0.25rem;
  --mb-0-5: 0.5rem;
  --mb-0-75: 0.75rem;
  --mb-1: 1rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  --mb-2-5: 2.5rem;
  --mb-3: 3rem;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000;
}

/* Font size for large devices */
@media screen and (min-width: 968px) {
  :root {
    --big-font-size: 3rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.813rem;
  }
}

  /*========== Variables Dark theme ==========*/
body.dark-theme {
  --first-color: #2A748E;
  --first-color-second: #2A748E;
  --title-color: #BACBDA;
  --text-color: #BACBDA;
  --text-color-light: #BACBDA;
  --input-color:  #62C2D5;
  --body-color: #0A1C2F;
  --container-color: #002728;
  --container-text-color: #000000;
  --first-color-alt: #9b3b2b;

  --scroll-bar-color: hsl(var(--hue-color), 65%, 10%);
  --scroll-thumb-color: hsl(var(--hue-color), 50%, 100%);
  
}
/*========== Button Dark/Light ==========*/
.nav__btns {
  display: flex;
  align-items: center;
}
.change-theme {
  font-size: 1.25rem;
  color: var(--title-color);
  margin-right: var(--mb-1);
  cursor: pointer;
}
.change-theme:hover {
  color: var(--first-color);
}
/*==================== BASE ====================*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0 0 var(--header-height) 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
}

h1,
h2,
h3,
h4 {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.highlight {
  background-color: var(--body-color);
  border-radius: 5px;
}

/*==================== REUSABLE CSS CLASSES ====================*/
.section {
  padding: 2rem 0 4rem;
}

.section__title {
  font-size: var(--h1-font-size);
  color: var(--title-color);
}

.section__subtitle {
  display: block;
  font-size: var(--small-font-size);
  margin-bottom: var(--mb-3);
}

.section__title,
.section__subtitle {
  text-align: center;
}

/*==================== LAYOUT ====================*/
.container {
  max-width: 768px;
  margin-left: var(--mb-1-5);
  margin-right: var(--mb-1-5);
}

.grid {
  display: grid;
  gap: 1.5rem;
}

.header {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: var(--body-color);
}

/*==================== NAV ====================*/
.nav {
  max-width: 968;
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav__logo,
.nav__toggle {
  color: var(--title-color);
  font-weight: var(--font-medium);
}
.nav__logo {
  width: 100px;
}

.nav__logo:hover {
  color: var(--first-color);
}

.nav__toggle {
  font-size: 1.1rem;
  cursor: pointer;
}

.nav__toggle:hover {
  color: var(--first-color);
}

@media screen and (max-width: 767px) {
  .nav__menu {
    position: fixed;
    bottom: -100%;
    left: 0;
    width: 100%;
    background-color: var(--body-color);
    padding: 2rem 1.5rem 4rem;
    box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.15);
    transition: 0.3s;
  }

  .nav__list {
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
  }
}
.nav__link {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: var(--small-font-size);
  color: var(--title-color);
  font-weight: var(--font-medium);
}
.nav__link:hover {
  color: var(--first-color);
}
.nav__icon {
  font-size: 1.2rem;
}

.nav__close {
  position: absolute;
  right: 1.3rem;
  bottom: 0.5rem;
  font-size: 1.5rem;
  cursor: pointer;
  color: var(--first-color);
}
.nav__close:hover {
  color: var(--first-color-alt);
}
/* show menu */
.show-menu {
  bottom: 0;
}
/* Active link */
.active-link {
  color: var(--first-color);
}
/* Change background header */
.scroll-header {
  box-shadow: 0 -1px 4px var(--title-color);
}
/*==================== HOME ====================*/
.home__container {
  gap: 1rem;
  background-size: cover; 
  background-position: center;
  background-color: transparent;
}
.home__content {
  grid-template-columns: 0.5fr 3fr;
  padding-top: 3.5rem;
  align-items: center;
}
.home__social {
  display: grid;
  grid-template-columns: max-content;
  row-gap: 1rem;
}
.home__social-icon {
  font-size: 1.25;
  color: var(--first-color);
}
.home__social-icon:hover {
  color: var(--first-color-alt);
}
.home__blob {
  width: 250px;
  fill: var(--first-color);
}
.home__blob-img {
  transform: scale(1.3);
  width: 170px;
}

.home__data {
  grid-column: 1/3;
}
.home__title {
  font-size: var(--big-font-size);
}
.home__subtitle {
  font-size: var(--h3-font-size);
  color: var(--text-color);
  font-weight: var(--font-medium);
  margin-bottom: var(--mb-0-75);
}
.home__description {
  height: 3em;
  margin-bottom: var(--mb-2);
}
.home__gridscroll {
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
.home__scroll {
}
.home__scroll-button {
  color: var(--first-color);
  transition: 0.3s;
}
.home__scroll-button:hover {
  transform: translateY(0.25rem);
}
.home__scroll-mouse {
  font-size: 2rem;
}
.home__scroll-name {
  font-size: var(--small-font-size);
  color: var(--title-color);
  font-weight: var(--font-medium);
  margin-right: var(--mb-0-25);
}
.home__scroll-arrow {
  font-size: 1.25rem;
}

/*==================== BUTTONS ====================*/
.button {
  display: inline-block;
  background-color: var(--first-color);
  color: #f2f7f7;
  padding: 1rem;
  border-radius: 0.5rem;
  font-weight: var(--font-medium);
}
.button:hover {
  background-color: var(--first-color-alt);
}
.button__icon {
  font-size: 1.25rem;
  margin-left: var(--mb-0-5);
  transition: 0.3s;
}
.button--flex {
  display: inline-flex;
  align-items: center;
}

/*==================== ABOUT ====================*/
.about__img {
  width: 250px;
  border-radius: 0.5rem;
  justify-self: center;
  align-self: center;
}

.about__description {
  text-align: left;
  margin-bottom: var(--mb-2-5);
}
.about__info {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: var(--mb-2-5);
}
.about__info-name {
  font-size: var(--smaller-font-size);
}
.about__info-title {
  font-size: var(--h2-font-size);
  font-weight: var(--font-semi-bold);
  color: var(--title-color);
}
.about__info-name,
.about__info-title {
  display: block;
  text-align: center;
}

.about__buttons {
  display: flex;
  justify-content: center;
}

/*==================== SKILLS ====================*/
.skills__container {
  row-gap: 1.5rem;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(2, 1fr);
}
.skills__header {
  display: flex;
  align-items: center;
  margin-bottom: var(--mb-2-5);
  cursor: pointer;
}
.skill-article-container {
  flex-wrap: wrap;
  flex-direction: row;
  gap: 1.5rem;
}
article {
  display: flex;
  justify-content: start;
}

.material-symbols-outlined {
  margin-left: 2px;
  margin-right: 2px;
}

.skills__icon {
  margin-right: 10px;
}
.skills__icon,
.skills__arrow {
  font-size: 2.3rem;
  color: var(--first-color);
}
.skills_icon {
  margin-right: var(--mb-0-75);
}
.skills__title {
  font-size: var(--h3-font-size);
}
.skills__subtitle {
  font-size: var(--small-font-size);
  color: var(--text-color-light);
}
.skills__arrow {
  margin-left: auto;
  transition: 0.4s;
}
.skills__list {
  row-gap: 1.5rem;
  padding-left: 2.7rem;
}
.skills__titles {
  display: flex;
  justify-content: center;
  margin-bottom: var(--mb-0-5);
}
.skills__name {
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
}

.skills__close .skills__list {
  height: 0;
  overflow: hidden;
}
.skills__open .skills__list {
  height: max-content;
  margin-bottom: var(--mb-2-5);
}

.skills__open .skills__arrow {
  transform: rotate(-180deg);
}

/*==================== My Personal Journey ====================*/
.qualification__tabs {
  display: flex;
  justify-content: center;
  margin-bottom: var(--mb-2);
}

.qualification__data {
  display: grid;
  grid-template-columns: 1fr max-content 1fr;
  column-gap: 1.5rem;
  margin-bottom: 1rem;
}
.qualification__title {
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
}
.qualification__subtitle {
  display: inline-block;
  font-size: var(--small-font-size);
  margin-bottom: var(--mb-1);
}
.qualification__calendar {
  font-size: var(--smaller-font-size);
  color: var(--text-color-light);
}
.qualification__rounder {
  display: inline-block;
  width: 13px;
  height: 13px;
  background-color: var(--first-color);
  border-radius: 50%;
}
.qualification__line {
  display: block;
  width: 20%;
  height: 100%;
  background-color: var(--first-color);
  margin: -7px auto 0 auto;
}

.qualification [data-content] {
  display: none;
}
.qualification__active[data-content] {
  display: block;
}

.qualification__button.qualification__active {
  color: var(--first-color);
}


/*==================== PORTFOLIO ====================*/
.portfolio__container {
  overflow: hidden;
}
.portfolio__data {
  margin-bottom: 3rem;
  width: 300px;
}
.portfolio__content {
  padding: 0 1.5rem;
  width: auto;
  justify-self: center;
}
.portfolio__img {
  width: 265px;
  border-radius: 0.5rem;
  justify-self: center;
  position: absolute;
  top: 0;
  left: 0;
  border: 2px solid black;
  height: 100%;
  object-fit: cover; 
}
.portfolio__title {
  font-size: var(--h3-font-size);
  margin-bottom: var(--mb-0-5);
}
.portfolio__description {
  margin-bottom: var(--mb-0-75);
}
.portfolio__button:hover .button__icon {
  transform: translateX(0.25rem);
}
.portfolio__imgcontainer {
  position: relative;
  width: 100%;
  padding-top: 56.25%; 
  overflow: hidden;
}
.portfolio__buttons {
  margin-right: 2rem;
}
.swiper-container-horizontal > .swiper-pagination-bullets {
  
}
.swiper-pagination-bullet {
  background-color: var(--first-color-lighter);
  opacity: 0.6;
}

.swiper-pagination-bullet-active {
  background-color: var(--first-color);
  opacity: 1;
}
.swiper-slide {
  justify-content: center;
}
.swiper-pagination {
  display: flex;
  justify-content: center;
}


/*==================== CONTACT ME ====================*/
.contact__container {
  row-gap: 3rem;
}
.contact__information {
  display: flex;
  margin-bottom: var(--mb-2);
}
.contact__icon {
  font-size: 2rem;
  color: var(--first-color);
  margin-right: var(--mb-0-75);
}
contact__title {
  font-size: var(--h3-font-size);
  font-weight: var(--font-medium);
}
.contact__subtitle {
  font-size: var(--small-font-size);
  color: var(--text-color-light);
}
.contact__content {
  background-color: var(--input-color);
  border-radius: 0.5rem;
  padding: 0.75rem 1rem 0.25rem;
}
.contact__label {
  font-size: var(--small-font-size);
  color: var(--container-text-color);
}
.error {
  color: #be4343;
  font-size: var(--small-font-size);
}
.paddingError {
  padding-bottom: 0.5rem;
}
.contact__input {
  width: 100%;
  background-color: var(--input-color);
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  color: var(--first-color-alt);
  border: none;
  outline: none;
  padding: 0.25rem 0.5rem 0.5rem 0;
}

/*==================== FOOTER ====================*/
.footer {
  
  z-index: 1000;
}
.footer__container {
  row-gap: 3.5rem;
}
.footer__bg {
  background-color: var(--first-color);
  padding: 1rem 0 1.5rem;
}
.footer__title {
  font-size: var(--h1-font-size);
  margin-bottom: var(--mb-0-25);
}
.footer__subtitle {
  font-size: var(--small-font-size);
}
.footer__links {
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
  padding-top: 0.5rem;
}
.footer__link:hover,
.footer__social:hover {
  color: var(--first-color-lighter);
}
.footer__socials {
  font-size: 1.25;
  padding-top: 0.5rem;
  margin-right: var(--mb-1-5);
}
.footer__copy {
  font-size: var(--smaller-font-size);
  text-align: center;
  color: #bac4c3;
  margin-top: 1rem;
}
.footer__title,
.footer__subtitle,
.footer__link,
.footer__social {
  color: var(--container-color);
} /*========== SCROLL UP ==========*/
.scrollup {
  position: fixed;
  right: 1rem;
  bottom: -20%;
  background-color: var(--first-color);
  opacity: 0.8;
  padding: 0 0.3rem;
  border-radius: 0.4rem;
  z-index: var(--z-tooltip);
  transition: 0.4s;
}
.scrollup:hover {
  background-color: var(--first-color-alt);
}
.scrollup__icon {
  font-size: 1.5rem;
  color: #f2f7f7;
}
.show-scroll {
  bottom: 5rem;
}
/* Show scroll */

/*========== SCROLL BAR ==========*/
::-webkit-scrollbar {
  width: 0.6rem;
  background-color: var(--scroll-bar-color);
  border-radius: 0.5rem;
}
::-webkit-scrollbar-thumb {
  background-color: var(--scroll-thumb-color);
  border-radius: 0.5rem;
}
::-webkit-scrollbar-thumb:hover {
  background-color: var(--text-color);
}

/*==================== MEDIA QUERIES ====================*/
/* For small devices */
@media screen and (max-width: 350px) {
  .container {
    margin-left: var(--mb-1);
    margin-right: var(--mb-1);
  }
  .nav__menu {
    padding: 2rem 0.25rem 4rem;
  }
  .nav__list {
    column-gap: 0;
  }
  .home__content {
    grid-template-columns: 0.25fr 3fr;
  }
  .home__blob {
    width: 180px;
  }
  .skills__title {
    font-size: var(--normal-font-size);
  }
  .qualification__data {
    gap: 0.5rem;
  }
  .portfolio__img {
    width: 200px;
  }
}
/* For medium devices */
@media screen and (min-width: 568px) {
  .home__content {
    grid-template-columns: max-content 1fr 1fr;
    margin-bottom: -2rem;
  }
  .home__data {
    grid-column: initial;
  }
  .home__img {
    order: 1;
    justify-self: center;
    padding-bottom: 2rem;
  }
  /* .portfolio__content, */
  .contact__container,
  .footer__container {
    grid-template-columns: repeat(2, 1fr);
  }
  .about__container {
    grid-template-columns: repeat(2, 1fr);
  }
  .skills__container {
    grid-template-columns: repeat(3, 1fr);
  }
  .footer__links,
  .footer__socials {
    justify-content: center;
  }
  .footer__socials {
    text-align: right;
    margin-right: 0;
  }
  .about__buttons {
    justify-content: initial;
  }
  .about__description {
    margin-top: 4rem;
    text-align: initial;
  }
  .qualification__sections {
    display: grid;
    grid-template-columns: 0.6fr;
    justify-content: center;
  }
  .background {
    position: relative;
    width: 100%;
    height: 500;
    background-image: url("rainbow.png");
    background-size: cover;
    background-position: top;
    border-radius: 30px;
    padding: 0 1rem;
    mask-image: linear-gradient(to top, transparent 0%, rgb(0, 0, 0) 5%);
  }
}
.iframe-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.iframe-container iframe {
  width: 960px;
  height: 540px;
  margin: 0 auto;
  display: block;
}
@media screen and (min-width: 768px) {
  .nav__logo {
    width: 100px;
  }
  .nav__menu {
    padding: 0rem 0.25rem 0rem;
  }
  .container {
    max-width: 768px;
    margin-left: auto;
    margin-right: auto;
  }
  body {
    margin: 0;
  }
  .section {
    padding: 6rem 0 2rem;
  }
  .section__subtitle {
    margin-bottom: 4rem;
  }
  .header {
    bottom: initial;
    top: 0;
  }
  .header {
    padding: 4px 1rem 2px;
  }
  .nav {
    height: calc(var(--header-height) +1.5rem);
    column-gap: 1rem;

    padding: 3px 0px;
  }
  .nav__icon,
  .nav__close,
  .nav__toggle {
    display: none;
  }
  .nav__list {
    display: flex;
    column-gap: 2rem;
  }
  .nav__menu {
    margin-left: auto;
  }
  .change-theme {
    margin: 0;
  }
  .home__container {
    row-gap: 5rem;
  }
  .home__content {
    padding-top: 5.5rem;
    column-gap: 2rem;
  }
  .home__blob {
    width: 270px;
  }
  .home__scroll {
    display: block;
  }
  .home__scroll-button {
    margin-left: 3rem;
  }
  .about__container {
    column-gap: 5rem;
  }
  .about__img {
    width: 500px;
  }
  .about__description {
    margin-top: 2rem;
    text-align: initial;
  }
  .about__info {
    justify-content: space-between;
  }
  .about__buttons {
    justify-content: initial;
  }
  .qualification__tabs {
    padding: 0 10rem;
  }

  .qualification__button {
    margin: 0 var(--mb-1);
  }
  .qualification__sections {
    grid-template-columns: 0.6fr;
  }
  .portfolio__img {
    width: 320px;
  }
  .portfolio__data {
    width: auto;
  }
  .portfolio__content {
    align-items: center;
  }
  .contact__container {
    padding-bottom: 6.5rem;
  }

  .footer__container {
    grid-template-columns: repeat(3, 1fr);
  }
  .footer__bg {
    padding: 3rem 0 3.5rem;
  }
  .footer__links {
    flex-direction: row;
    column-gap: 2rem;
  }
  .footer__social {
    justify-self: flex-end;
  }
  .footer__copy {
    margin-top: 2rem;
  }
}
/* For large devices */
@media screen and (min-width: 1024) {
  .header,
  .footer__container {
    padding: 0;
  }
  .home_blob {
    width: 400px;
  }
  .home_social {
    transform: translateX(-6rem);
  }
  .swiper-container-horizontal > .swipper-pagination-bullets {
    bottom: -5.5rem;
  }
  .contact__form {
    width: 460px;
  }
  .contact__inputs {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 1900px) {
  body {
    zoom: 150%;
    width: 100%;

  }
  .home__social-icon {
    font-size: 1.25;
  }
}